/.pytest_cache
/build
/dist
*.D
*.spec
geckodriver.log
config.yml
test_config.yml

# Python cache
__pycache__
/src/__pycache__
# VS Code configuration
.vscode/
.vscode/settings.json

# Pyenv
.python-version

# dotenv
.env
.env.*

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
desktop.ini
